*{
    margin:0; padding: 0;
}

a { 
    text-decoration: none;
    color: black;
} 

a:visited, a:active, a:hover {
    color: black;
}

.messages {
    text-align: center;
}

.messages .errors,  .messages .successfuly{
    width:100%;
    padding:5px;
    display: inline-block;
}

.messages .successfuly {
    background-color: green;
}

.messages .errors {
    background-color: red;
}

.product-container, .noproduct, .admin-menu, .order-container {
    border: 1px solid darkslategray;
    margin: 10px;
}

    .product-container .messages, .product-container .products, .order-container .products {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .product-container .product, .order-container .product {
        border: 1px solid darkorange;
        margin: 10px;
        padding: 10px;
    }

        .product-container .product .title {
            font-size: 18pt;
        }

        .product-container .product button {
            padding:5px;
            margin:5px 0 0 0px;
        }

        .product-container .product a {
            height: 100%;
        }

header {
    display: flex;
}

.menu {
    display: flex;
}

    .menu div {
        height:25px;
        background-color: wheat;
        padding: 5px 5px 0 5px;
        margin:5px;
        text-decoration: none;
    }

.userPanel {
    display: flex;
    position:absolute;
    right:0;
}

    .userPanel div {
        height:25px;
        background-color: wheat;
        padding: 5px 5px 0 5px;
        margin:5px;
        text-decoration: none;
    }

.signin_form, .signup_form {
    background-color:thistle;
    text-align:center;
    width:50%;
    margin: 25px 25% 0 25%;
    padding: 25px 0;
}

.admin-menu {
    display: flex;
}

    .admin-menu div {
        border: 1px solid darkorange;
        background-color: wheat;
        margin: 10px;
        width:100px;
        text-decoration: none;
        float: left;
        padding: 5px;
    }

    .admin-menu div span {
        width:100%;
        height:100%;
        display:block;
        text-align: center;
    }

.noproduct {
    text-align: center;
    font-size: 24px;
    padding: 10px;
}

.order-container .order {
    border: 1px solid darkorange;
    margin: 10px;
    padding: 10px;
}

    .order-container .order .order_info {
        background-color: rgb(224, 224, 224);
        padding: 3px 3px 3px 50px;
        position: relative
    }

    .order-container .summ {
        display: inline-block;
    }

#create-product-form {
    border: 1px solid darkslategray;
    margin: 10px;
    padding: 10px;
}
